<div class ="login=form-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" class="login(form)" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="text" formControlName="username">
      <mat-label for="username">Login</mat-label>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="password">
      <mat-label for="password">Password</mat-label>
    </mat-form-field>
    <mat-form-field>
      <button type="submit">login</button>
      <button (click)="click()">register</button>
    </mat-form-field>
  </form>
</div>
