@import "../../../assets/color-palette.scss";
.header{
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  border: 1px solid;
  height: 60px;
  background:$main-color;
  overflow:hidden;
  width: 100%;
  z-index: 999px;
  top:0;
  position: sticky;
  &__title{
    padding-top: 10px;
    padding-left: 10px
  }
  &__btns{
    padding-top: 10px;
  }
  &__btn-add{
    margin-right: 10px;
  }
}
