<div class="container">
  <div class="post" *ngFor="let post of posts">
    <h1 class="header">{{ post.title }}</h1>
    <div class="post__image">
      <img src="data:image/png;base64,{{ post.imgURL }}" (click)="openFullPost(posts,post)" alt="" />
    </div>
    <div class="post__text">
      <p class="post__description">
        {{ post.description }}...<a (click)="openFullPost(posts,post)"> see more </a>
      </p>
    </div>
    <div class="post__footer">
      <p>Date Added: {{ post.uploadDate }}</p>
      <button mat-flat-button color="primary" (click)="openFullPost(posts,post)">Open Post</button>
    </div>
  </div>
</div>
