.post{
  width: 15%;
  height:fit-content;
  min-height: 850px;
  margin: 10px;
  border: solid 1px black ;
  border-radius: 30px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: black;
  .header{
    text-align: center;
    border-bottom: 1px solid;
  }
  &__image{

    img{
      width:100%;
      cursor: pointer ;
      border-radius: 10px;
    }
  }
  &__text{
    display: flex;

  }
  &__description{
    a{
      cursor: pointer;
      color:rebeccapurple;
    }
  }
  &__footer{
    padding-bottom: 15px;
  }
}
.container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: url('../../../assets/images/background-image.jpg');
  background-size: cover;
  height: 100%;
}
.form-btn{
  width: 400px;
  margin-top: 10px;
  z-index: 1;
}

